In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

import warnings
warnings.filterwarnings('ignore')

In [20]:
import os
import pandas as pd

current_dir = os.getcwd()
bank_file = os.path.join(current_dir, "banklist.csv")

# Ler os dados do CSV com encoding especificado
bank_data = pd.read_csv(bank_file, encoding='latin1')

In [21]:
# Análise explanatória
print(bank_data.describe())

              Cert           Fund
count    570.000000    570.000000
mean   31604.777193  10043.096491
std    16490.726666   1109.862111
min       91.000000   4645.000000
25%    20087.250000  10118.250000
50%    32085.500000  10260.500000
75%    35368.000000  10402.750000
max    59017.000000  10547.000000

In [22]:
# Análise exploratória
print(bank_data.head())

                              Bank Name           City  State   Cert   \
0         First National Bank of Lindsay        Lindsay     OK   4134
1  Republic First Bank dba Republic Bank   Philadelphia     PA  27332
2                          Citizens Bank       Sac City     IA   8758
3               Heartland Tri-State Bank        Elkhart     KS  25851
4                    First Republic Bank  San Francisco     CA  59017

              Acquiring Institution  Closing Date    Fund
0             First Bank & Trust Co.     18-Oct-24  10547
1  Fulton Bank, National Association     26-Apr-24  10546
2          Iowa Trust & Savings Bank      3-Nov-23  10545
3             Dream First Bank, N.A.     28-Jul-23  10544
4          JPMorgan Chase Bank, N.A.      1-May-23  10543

In [ ]:
# Exemplo de criação de um gráfico
plt.figure(figsize=(10, 6))
sns.histplot(bank_data['column_name'], bins=30, kde=True)
plt.title('Histograma de Exemplo')
plt.xlabel('Valor')
plt.ylabel('Frequência')
plt.show()

NameError: name 'data' is not defined